*{
    margin: 0;
    padding: 0;
}

header{
    display: flex;
    justify-content:space-around;
}

.logo{
    margin-top: 5px;
    margin-left: 5px;
    background-color: purple;
}

h1{
    font-size: 25px;    
    color: white;
    padding: 30px 25px;
}

.principal{
    display: flex;
    justify-content: space-around;
    margin-top: 5px;
    align-items: center;
}

.principal a{
    color:white;
    font-size: 20px;
    text-decoration: none;
    background-color: rgb(0, 128, 233);
    padding: 35px 95px;
}

.principal a:nth-last-of-type(2){
    margin-right: 1px;
    margin-left: 1px;
}


.cuadro1{
    margin-top: 5px;
    align-items: center;
    background-color: rgb(6, 76, 141);
    color:white;
    font-size: 15px;
    text-decoration: none;
    padding: 30px 55px;
}

.cuadro2{
    margin-top: 5px;
    margin-right: 5px;
    align-items: center;
    background-color: rgb(6, 76, 141);
    color:white;
    font-size: 15px;
    text-decoration: none;
    padding: 30px 40px;
}

p{
    margin-top: 15px;
}

main{
    margin: 5px 10px;
    padding: 0 250px 0 0;
    background-color: rgb(255, 208, 0);
    float: left;
}

.seccion1{
    display: flex;  
    padding-top: 15px;  
    float:left;
}

.seccion1 h2{
    background-color: rgb(255, 153, 1);
    margin-top: 100px 0 0 0;
    padding: 20px 20px 50px 20px;
}

.seccion1 p{
    background-color: rgb(255, 153, 1);
    padding: 40px 150px 40px 20px;
    font-size: 15px;
    margin-top: 0;
}

.secciones{
    margin: 0;
    float:left;

}

section{
    padding: 20px 285px 20px 20px;
    font-size: 15px;
    margin-top: 15px;
    background-color: rgb(255, 153, 1);
}

.asides{
    margin: 0 0 0 650px;
}

.arriba{
}
.ar{
    border: 2px solid rgb(255, 0, 0); 
    background-color: rgb(252, 255, 91);
    height: 100px;
    width: 300px;
}

.ab{
    border: 2px solid rgb(255, 0, 0); 
    background-color:rgb(252, 255, 91);
    height: 100px;
    width: 300px;
}

/*.de{
    border: 5px solid black; 
    background-color: rgb(252, 255, 91);
    height: 100px;
    width: 300px;
}*/

footer{
    margin: 5px;
    display: flex;
    justify-content:space-around;
    background-color: rgb(5, 155, 5);
}
